<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Users\JeremyZelayaRodrigue\source\repos\GoGo\GoGo-Server\bin\Debug\netcoreapp3.1\GoGo-Server.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="AWSConnectionString" value="server=gogo-database.co0n2vhu3oim.us-east-1.rds.amazonaws.com;user id=GoGoAdmin;password=sG02p^*04sog;port=3306;database=GoGo;" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>